@font-face {
  font-family: "rajdhanibold";
  src: url(../fonts/rajdhani-bold-webfont.woff2) format("woff2"),
    url(../fonts/rajdhani-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rajdhanilight";
  src: url(../fonts/rajdhani-light-webfont.woff2) format("woff2"),
    url(../fonts/rajdhani-light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rajdhanimedium";
  src: url(../fonts/rajdhani-medium-webfont.woff2) format("woff2"),
    url(../fonts/rajdhani-medium-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rajdhaniregular";
  src: url(../fonts/rajdhani-regular-webfont.woff2) format("woff2"),
    url(../fonts/rajdhani-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: rajdhaniregular;
  background-color: black;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: gold;
}

.titleimage {
  background-image: url(../art/logo.png);
  height: 100px;
  margin: auto;
  margin-top: 40px;
  background-repeat: no-repeat;
  background-position-x: center;
}
.walletConnect {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

/* .walletaddress {
    background-color: seagreen;
    padding: 5px;
    border-radius: 2px;
    color: gold;
    display: none;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
} */
.account-container {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  background-color: seagreen;
  color: gold;
  display: flex;
  padding: 0.5rem;
  border-radius: 0.4rem;
  align-items: center;
  display: none;
}

.account-container #address {
  margin: 0;
  margin-right: 0.5rem;
}

.account-container button {
  background-color: gold;
  color: seagreen;
  outline: 0;
  border: 0;
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.2rem;
}

.mainbody {
  text-align: center;
  color: gold;
}

.title {
  text-align: center;
  font-family: rajdhanibold;
  font-size: 6em;
  margin-top: 50px;
}

li {
  list-style: none;
  margin-left: -20px;
}
li::before {
  content: "-";
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.breaker {
  height: 60px;
  background-image: url(../art/coins.jpg);
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .title {
    text-align: center;
    margin-left: 10px;
    margin-top: 60px;
    font-family: rajdhanibold;
    font-size: 4em;
  }
}

@media screen and (max-width: 772px) {
  .title {
    text-align: center;
    margin-left: 10px;
    margin-top: 60px;
    font-family: rajdhanibold;
    font-size: 3em;
  }
}
.presaleform {
  background-color: #1b0e22;
  max-width: 80%;

  padding: 50px 20px;
  border-radius: 10px;
  border: 1px solid royalblue;
}

#bnbAmount {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 50;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.modal-content {
  background-color: #1b0e22;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  min-height: 50%;
  color: whitesmoke;
  text-align: center;
}
.logo {
  height: 80px;
  background-image: url(../art/Untitled-9-650x787.png);
  width: 80px;
  background-repeat: no-repeat;
  margin: auto;
  background-size: contain;
  margin-bottom: 30px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.confirmbutton {
  margin-top: 80px;
  margin-right: 30px;
}

.cancelbutton {
  margin-top: 80px;
}

.margintop {
  width: 150px;
}
.accentuated {
  background-color: gold;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

.purchaseform {
  color: black;
  font-family: rajdhanibold;
  font-weight: bolder;
  font-size: large;
  max-width: fit-content;
  height: auto;
  background-image: url(../art/vault.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: auto;
  align-content: space-around;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
}
